<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> REGISTRATION PAGE </title>
    <style>
    body{
    background-color:Moccasin;
    }
</style>
</head>
<body>

<form action="register" method="POST">
    {% csrf_token %}
    <h2 style="background-color:aqua"> REGISTRATION </h2>
    <input type="text" name="username" placeholder="Enter Username"><BR><BR>
     <input type="text" name="fname" placeholder="Enter your First name"><BR><BR>
     <input type="text" name="lname" placeholder="Enter your Last name"><BR><BR>
     <input type="email" name="email" placeholder="Enter Email ID"><BR><BR>
     <input type="password" name="pwd1" placeholder="Enter Password"><BR><BR>
     <input type="password" name="pwd2" placeholder="ReEnter Password"><BR><BR><BR>
    <input type="submit" style="font-face: 'Comic Sans MS'; font-size: larger; color: #fff; background-color: #62529c; border: 2pt ridge ;height: 50px;width: 150px;cursor: pointer;" >

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>